
<mat-nav-list >
    <a mat-list-item (click)="closeMenu()" routerLink="/"> 
        <mat-icon>menu</mat-icon> 
    </a>
    <a mat-list-item (click)="closeMenu()" routerLink="/presupuesto/agregar"> 
       <span class="navegacion">Crear presupuesto</span>
    </a>
    <a mat-list-item (click)="closeMenu()" routerLink="/porcentajes/listado"> 
        <span class="navegacion">listado porcentaje</span>
    </a>
    <a mat-list-item (click)="closeMenu()" routerLink="/porcentajes/agregar"> 
        <span class="navegacion">agregar porcentaje</span>
    </a>

    <a mat-list-item (click)="closeMenu()" routerLink="/orden/agregar"> 
        
        <span class="navegacion">Agregar Orden de trabajo</span>
    </a>
    <a mat-list-item (click)="closeMenu()" routerLink="/orden/listado"> 
        
        <span class="navegacion">Buscar / listar Orden de trabajo</span>
    </a>
    
    <a mat-list-item (click)="closeMenu()" routerLink="/clientes/agregar"> 
        
        <span class="navegacion">Agregar Cliente</span>
    </a>
    <a mat-list-item (click)="closeMenu()" routerLink="/clientes/listado"> 
        
        <span class="navegacion">Buscar / listar clientes</span>
    </a>
    <a mat-list-item (click)="closeMenu()" routerLink="/articulo/agregar"> 
        
        <span class="navegacion">Agregar articulo</span>
    </a>
    <a mat-list-item (click)="closeMenu()" routerLink="/articulo/listado"> 
        
        <span class="navegacion">Buscar / listar articulo</span>
    </a>
    
    <a mat-list-item (click)="closeMenu()" routerLink="/tipoTrabajo/agregar"> 
        
        <span class="navegacion">agregar tipo de trabajo</span>
    </a>
    <a mat-list-item (click)="closeMenu()" routerLink="/tipoTrabajo/listado"> 
        
        <span class="navegacion">Buscar / listar tipo de trabajo</span>
    </a>
    
     <a mat-list-item (click)="closeMenu()" routerLink="/materiaPrima/agregar"> 
         
         <span class="navegacion">Agregar materia prima</span>
     </a>

    <a mat-list-item (click)="closeMenu()" routerLink="/materiaPrima/listado"> 
        
        <span class="navegacion">Buscar / Listar materia prima</span>
    </a>
    <a mat-list-item (click)="closeMenu()" routerLink="/proveedores/agregar"> 
        
        <span class="navegacion">Agregar provedores </span>
    </a>
    <a mat-list-item (click)="closeMenu()" routerLink="/proveedores/listado"> 
        
        <span class="navegacion">Buscar / listar proveedores</span>
    </a>
    
</mat-nav-list>