



  <div  fxLayout="column"  id="fondo">
      <div fxLayout="row" >

        
          <mat-form-field  >
            <mat-label>Filtro de busqueda</mat-label>
            <input matInput (keyup)="applyFilter($event)" placeholder="Ex. ium" #input>
          </mat-form-field>
        
      </div>
    <div  fxLayout="row" >
      <div fxFlex="20%">

        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
            <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef>n° orden</th>
            <td mat-cell *matCellDef="let orden"> {{orden.id}} </td>
            </ng-container>
            
            
            <ng-container matColumnDef="cliente_nombre">
              <th mat-header-cell *matHeaderCellDef> cliente </th>
              <td mat-cell *matCellDef="let orden" > {{orden.cliente_nombre}}</td>
            </ng-container>
            
            <ng-container matColumnDef="cliente_direccion">
              <th mat-header-cell *matHeaderCellDef> direccion </th>
              <td mat-cell *matCellDef="let orden" > {{orden.cliente_direccion}}</td>
            </ng-container>
            
            
            <ng-container matColumnDef="tipoTrabajo">
              <th mat-header-cell *matHeaderCellDef> tipo de trabajo </th>
              <td mat-cell *matCellDef="let orden">  {{orden.trabajo}}
                <ng-template [ngIf]="orden.tipoTrabajo== 1">fotocopia blanco y negro</ng-template>
                <ng-template [ngIf]="orden.tipoTrabajo== 2">fotocopia color</ng-template>
                <ng-template [ngIf]="orden.tipoTrabajo== 3">impresion blanco y negro</ng-template>
                <ng-template [ngIf]="orden.tipoTrabajo== 4">impresion color</ng-template>
              </td>
            </ng-container>
            <ng-container matColumnDef="materiaprima_descripcion">
              <th mat-header-cell *matHeaderCellDef> materia prima </th>
              <td mat-cell *matCellDef="let orden"> {{orden.materiaprima_descripcion}}{{orden.proveedor_nombre}} </td>
            </ng-container>
            <ng-container matColumnDef="cantidad">
              <th mat-header-cell *matHeaderCellDef> cantidad  </th>
              <td mat-cell *matCellDef="let orden"> {{orden.cantidad}} </td>
            </ng-container>
            <!-- <ng-container matColumnDef="fecha_creacion">
              <th mat-header-cell *matHeaderCellDef> f. creacion </th>
              <td mat-cell *matCellDef="let orden"> {{orden.fecha_creacion | date:'dd-MM-yyyy'}}</td>
            </ng-container> -->
            <ng-container matColumnDef="fechaEntrega">
              <th mat-header-cell *matHeaderCellDef> f. entrega </th>
              <td mat-cell *matCellDef="let orden"> {{orden.fechaEntrega | date:'dd-MM-yyyy' }} </td>
            </ng-container>    
            <ng-container matColumnDef="antiguedad">
              <th mat-header-cell *matHeaderCellDef> Antigüedad </th>
              <td mat-cell *matCellDef="let orden">
                <ng-container *ngIf="orden.estado === 'en proceso'">
                  {{ orden.antiguedad }} días
                </ng-container>
              </td>
            </ng-container>
            
            
            <ng-container matColumnDef="detalle">
              <th mat-header-cell *matHeaderCellDef> detalle </th>
              <td mat-cell *matCellDef="let orden"> {{orden.detalle}} </td>
            </ng-container>
            
            <ng-container matColumnDef="estado">
              <th mat-header-cell *matHeaderCellDef> estado </th>
              <td mat-cell *matCellDef="let orden" [ngClass]="getEstadoClass(orden.estado)"> {{orden.estado}} </td>
            </ng-container>
            
            <ng-container matColumnDef="prioridad">
              <th mat-header-cell *matHeaderCellDef> prioridad </th>
              <td mat-cell *matCellDef="let orden" [ngClass]="getPriorityClass(orden.prioridad)" > {{orden.prioridad}} </td>
            </ng-container>
            
            <ng-container matColumnDef="editar">
              <th mat-header-cell *matHeaderCellDef> editar </th>
              <td mat-cell *matCellDef="let orden">
                <button mat-button [routerLink]="['/orden/editar', orden.id ]" >editar</button> 
              </td>
            </ng-container>
            
            <ng-container matColumnDef="cambiarEstado">
              <th mat-header-cell *matHeaderCellDef> Finalizar </th>
              <td mat-cell *matCellDef="let orden">
                <button mat-button (click)="cambiarEstado(orden)" class="finalizar-button"  [disabled]="orden.estado !== 'en proceso' || orden.prioridad !== 'alta'"  >Finalizar</button>
                <button mat-button (click)="abrirFormularioCorreo()" class="notificar-button">notificar</button>
                
              </td>
            </ng-container>
            
            
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            
            <tr class="mat-row" *matNoDataRow>
              <td class="mat-cell" colspan="4">No se encuentra un cliente con ese nombre "{{input.value}}"</td>
            </tr>
        </table>
      </div>

    </div>



        
  
  </div>
  

