#fondo {
    background-image: url("listado.jpg");
    background-size:cover; /* Ajustar la imagen al tamaño del contenedor */
    background-repeat: no-repeat; /* Evitar la repetición de la imagen */
    /* Otros estilos que desees aplicar al componente */
    background-position: center;
    padding-top: 10px;
    padding-left: 15px;
    padding-right: 10px;
    padding-bottom: 10px;
    margin-bottom: 60px;


  }


  
.priority-high{
    background-color: red;
}
.priority-medium{
    background-color: yellow;
}
.priority-low{
    background-color: green;
}
.finalizar-button {
    background-color: #4CAF50;
    color: white;
  }
  
.finalizar-button[disabled] {
    background-color: #DDDDDD; /* Color de fondo para botones deshabilitados */
    color: #666666; /* Color de texto para botones deshabilitados */
  }
.notificar-button {
    background-color: #4e4eb1; /* Color de fondo para botones deshabilitados */
    color: #2118a6; /* Color de texto para botones deshabilitados */
}
 