<p>listado materia works!</p>

<div>
    <mat-form-field >
      <mat-label>Filtro de busqueda</mat-label>
      <input matInput (keyup)="applyFilter($event)" placeholder="Ex. ium" #input>
    </mat-form-field>
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
  
      <!--- Note that these columns can be defined in any order.
            The actual rendered columns are set as a property on the row definition" -->
  
      <!-- Position Column -->
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef> id </th>
        <td mat-cell *matCellDef="let materiaPrima"> {{materiaPrima.id  }} </td>
      </ng-container>
  
      <!-- Name Column -->
      <ng-container matColumnDef="descripcion">
        <th mat-header-cell *matHeaderCellDef> descripcion </th>
        <td mat-cell *matCellDef="let materiaPrima"> {{materiaPrima.descripcion}} </td>
      </ng-container>
         <!-- Name Column -->
         <ng-container matColumnDef="stock">
          <th mat-header-cell *matHeaderCellDef> stock </th>
          <td mat-cell *matCellDef="let materiaPrima"> {{materiaPrima.stock}} </td>
        </ng-container>
           <!-- Name Column -->
      <ng-container matColumnDef="precioCosto">
        <th mat-header-cell *matHeaderCellDef> precio costo </th>
        <td mat-cell *matCellDef="let materiaPrima"> {{materiaPrima.precioCosto}} </td>
      </ng-container>
         <!-- listado con conversion de id del proveedor para q se vea el nombre-->
         

        <ng-container matColumnDef="proveedor" >
          <th mat-header-cell *matHeaderCellDef> proveedor </th>

          <td mat-cell *matCellDef="let materiaPrima"  >
            <ng-template [ngIf]="materiaPrima.proveedor== 1">acuarela</ng-template>
            <ng-template [ngIf]="materiaPrima.proveedor== 2">rayuela</ng-template>
            <ng-template [ngIf]="materiaPrima.proveedor== 3">Third</ng-template>
          </td>
        </ng-container>

        



        <ng-container matColumnDef="editar">
          <th mat-header-cell *matHeaderCellDef> editar </th>
          <td mat-cell *matCellDef="let materiaPrima"> <button mat-button [routerLink]="['/materiaPrima/editar', materiaPrima.id ]" >editar</button> </td>
        </ng-container>
        <ng-container matColumnDef="ver">
          <th mat-header-cell *matHeaderCellDef> ver mas </th>
          <td mat-cell *matCellDef="let materiaPrima"> <button mat-button [routerLink]="['/materiaPrima/', materiaPrima.id ]" >editar</button> </td>
        </ng-container>
  
      <ng-container matColumnDef="borrar">
        <th mat-header-cell *matHeaderCellDef> Borra? </th>
        <td mat-cell *matCellDef="let j = index;">
          <button mat-raised-button color="warn" focusable="false" (click)="borrar(j)">
            Borra?
          </button>
        </td>
      </ng-container>
  
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  
      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" colspan="4">No se encuentra un cliente con ese nombre "{{input.value}}"</td>
      </tr>
    </table>
  
  </div>
  