.priority-low {
    background-color: green;
}
  
.priority-medium {
    background-color: yellow;
}
  
.priority-high {
    background-color: red;
}
#fondo {
    background-image: url("../../../../assets/fondoimprenta.jpg");
    background-size:cover; /* Ajustar la imagen al tamaño del contenedor */
    background-repeat: no-repeat; /* Evitar la repetición de la imagen */
    /* Otros estilos que desees aplicar al componente */
    background-position: center;
    padding-top: 40px;
    padding-bottom: 40px;
    margin-bottom: 60px;
    
    
  }
