
<div  fxLayoutAlign="center" 
>
    <div fxFlex="50" fxLayout="column" >
        <div 
            fxLayout="row" 
            fxLayoutGap="200px"
            fxLayout.xs="column"
            >
            
            <mat-form-field fxFlex="100" fxLayout.xs="column">
                <mat-label>cliente</mat-label>
                <!-- <input matInput type="text" [(ngModel)]="orden.cliente" required> -->
                <mat-select  [(ngModel)]="orden.cliente">
                    <mat-option  *ngFor="let c of cliente" [value]="c.id">{{c.nombre }}</mat-option>
                </mat-select>
            </mat-form-field>
           
            
        </div>
        <div 
            fxLayout="row" 
            fxLayoutGap="20px"
            fxLayout.xs="column">
            
            <mat-form-field fxFlex="100" fxLayout.xs="column">
                <mat-label>tipo de trabajo</mat-label>
                <mat-select  [(ngModel)]="orden.tipoTrabajo">
                    <mat-option  *ngFor="let t of tipoTrabajo" [value]="t.id">{{t.descripcion}}</mat-option>
                </mat-select>
                <!-- <input matInput type="text" [(ngModel)]="orden.tipoTrabajo" required> -->
            </mat-form-field>
        
        
        </div>
        <div 
            fxLayout="row" 
            fxLayoutGap="20px"
            fxLayout.xs="column">
            
            <mat-form-field fxFlex="100" fxLayout.xs="column">
                <mat-label>materia prima x</mat-label>
                <mat-select  [(ngModel)]="orden.materiaPrima">
                    <mat-option  *ngFor="let m of proveedorMateriaPrima" [value]="m.id">{{m.materia_prima}}</mat-option>
                </mat-select>
                
            </mat-form-field>
            {{orden.materiaPrima}}
        
        
        </div>
        <div 
            fxLayout="row" 
            fxLayoutGap="20px"
            fxLayout.xs="column">
            
            <mat-form-field fxFlex="100" fxLayout.xs="column">
                <mat-label>cantidad</mat-label>
                <input matInput type="number" [(ngModel)]="orden.cantidad" required>
            </mat-form-field>
            
        
        </div>
        <div 
            fxLayout="row" 
            fxLayoutGap="20px"
            fxLayout.xs="column">
            
            <mat-form-field fxFlex="100" fxLayout.xs="column">
                <mat-label>fecha de entrega</mat-label>
                <input matInput type="date" [(ngModel)]="orden.fechaEntrega" required>
            </mat-form-field>
        </div>
        <div 
            fxLayout="row" 
            fxLayoutGap="20px"
            fxLayout.xs="column">
            
            <mat-form-field fxFlex="100" fxLayout.xs="column">
                <mat-label>detalle</mat-label>
                <input matInput type="text" [(ngModel)]="orden.detalle" required>
            </mat-form-field>
        </div>
        <div 
            fxLayout="row" 
            fxLayoutGap="20px"
            fxLayout.xs="column">
            
            <mat-form-field fxFlex="100" fxLayout.xs="column">
                <mat-label>estado</mat-label>
                <!-- <input matInput type="text" [(ngModel)]="orden.estado" required> -->
                <mat-select  [(ngModel)]="orden.estado">
                    <mat-option value="en proceso">en proceso</mat-option>
                    <mat-option value="finalizado">finalizado</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div 
        fxLayout="row" 
        fxLayoutGap="20px"
        fxLayout.xs="column"
        >
        
        <mat-form-field fxFlex="100" fxLayout.xs="column">
            <mat-label>prioridad</mat-label>
            <!-- <input matInput type="text" [(ngModel)]="orden.estado" required> -->
            <mat-select  [(ngModel)]="orden.prioridad">
                <mat-option value="alta">alta</mat-option>
                <mat-option value="media">media</mat-option>
                <mat-option value="baja">baja</mat-option>
            </mat-select>
        </mat-form-field>
    </div>


        <div fxLayout="row" fxLayoutAlign="end center" >
            <button mat-raised-button color="primary" (click)="guardar()">Guardar</button>
            
            <button *ngIf="orden.id" mat-raised-button color="warn" (click)="borrar()">borrar</button>
        </div>
        <br>
    
    </div>        
</div>
<div>
    <pre>{{orden |json}}</pre>
</div>