


<div>
  <mat-form-field >
    <mat-label>Filtro de busqueda</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Ex. ium" #input>
  </mat-form-field>
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->

    <!-- Position Column -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef> id </th>
      <td mat-cell *matCellDef="let proveedor"> {{proveedor.id}} </td>

    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="nombreDeEmpresa">
      <th mat-header-cell *matHeaderCellDef> nombre de la empresa</th>
      <td mat-cell *matCellDef="let proveedor"> {{proveedor.nombreDeEmpresa}} </td>
    </ng-container>
    
    <ng-container matColumnDef="direccion">
      <th mat-header-cell *matHeaderCellDef> direccion </th>
      <td mat-cell *matCellDef="let proveedor"> {{proveedor.direccion}} </td>
    </ng-container>
    <ng-container matColumnDef="telefono">
      <th mat-header-cell *matHeaderCellDef> telefono </th>
      <td mat-cell *matCellDef="let proveedor"> {{proveedor.telefono}} </td>
    </ng-container>
   
    <ng-container matColumnDef="editar">
      <th mat-header-cell *matHeaderCellDef> editar </th>
      <td mat-cell *matCellDef="let proveedor"> <button mat-button [routerLink]="['/proveedores/editar', proveedor.id ]" >editar</button> </td>
    </ng-container>
    <ng-container matColumnDef="ver">
      <th mat-header-cell *matHeaderCellDef> ver mas </th>
      <td mat-cell *matCellDef="let proveedor"> <button mat-button [routerLink]="['/proveedores/', proveedor.id ]" >editar</button> </td>
    </ng-container>

    <!-- <ng-container matColumnDef="borrar">
      <th mat-header-cell *matHeaderCellDef> Borra? </th>
      <td mat-cell *matCellDef="let cliente = index;">
        <button mat-raised-button color="warn" focusable="false" (click)="borrar(cliente)">
          Borra?
        </button>
      </td>
    </ng-container> -->

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

    <tr class="mat-row" *matNoDataRow>
      <td class="mat-cell" colspan="4">No se encuentra un cliente con ese nombre "{{input.value}}"</td>
    </tr>
  </table>

</div>
