
<div  fxLayoutAlign="center" >
    <div fxFlex="50" fxLayout="column" >
        <!-- <div 
            fxLayout="row" 
            fxLayoutGap="200px"
            fxLayout.xs="column"
            >
            
            <mat-form-field fxFlex="100" fxLayout.xs="column">
                <mat-label>id</mat-label>
                <input matInput type="text" [(ngModel)]="materiaPrima.id" required>
            </mat-form-field>
           
            
        </div> -->
        <div 
            fxLayout="row" 
            fxLayoutGap="20px"
            fxLayout.xs="column">
            
            <mat-form-field fxFlex="100" fxLayout.xs="column">
                <mat-label>descripcion</mat-label>
                <input matInput type="text" [(ngModel)]="materiaPrima.descripcion" required>
            </mat-form-field>
        
        
        </div>
        <div 
            fxLayout="row" 
            fxLayoutGap="20px"
            fxLayout.xs="column">
            
            <mat-form-field fxFlex="100" fxLayout.xs="column">
                <mat-label>precio costo</mat-label>
                <input matInput type="number" [(ngModel)]="materiaPrima.precioCosto" required>
            </mat-form-field>
        
        
        </div>
        <div 
            fxLayout="row" 
            fxLayoutGap="20px"
            fxLayout.xs="column">
            
            <mat-form-field fxFlex="100" fxLayout.xs="column">
                <mat-label>proveedor</mat-label>
                <mat-select  [(ngModel)]="materiaPrima.proveedor" multiple>
                    <mat-option  *ngFor="let p  of proveedor2" [value]="p.id">{{p.nombreDeEmpresa }}</mat-option>
                </mat-select>
            </mat-form-field>
            
            
        </div>
        <pre>{{materiaPrima|json}}</pre>
       
        <div fxLayout="row" fxLayoutAlign="end center" >
            <button mat-raised-button color="primary" (click)="guardar()">Guardar</button>
            
            <button *ngIf="materiaPrima.id" mat-raised-button color="warn" (click)="borrar()">borrar</button>
        </div>
        <br>
    
    </div>        
</div>