
<mat-sidenav-container>
    <mat-sidenav #menu>
        <app-menu (menuToggle)="menu.toggle()" ></app-menu>
    </mat-sidenav>
    <mat-sidenav-content>
        <app-encabezado (menuToggle)="menu.toggle()"></app-encabezado>
        <main class="margensup">
            
            <router-outlet>
                <div id="fondo" [ngClass]="{'hide-image': hideImage}">
                    
                </div>


            </router-outlet>
            <app-pie></app-pie>
            
        </main>
        
    </mat-sidenav-content>
</mat-sidenav-container>

