<div class="col-4" class="contenedor">
    <div>
        <h1>IMPRESITO S.A.</h1>
        <h2>Presupuesto</h2>
        <br>
    </div>
    <div fxLayout="row" fxLayoutAlign="space-between none">
        <mat-form-field>
            <label for="">vendedor</label>
            <input matInput type="text">
        </mat-form-field>
        
        <mat-form-field >
            <label >fecha</label>
            <input matInput type="date">
        </mat-form-field>
    </div>
    <div>    
        <mat-form-field appearance="outline">
            <label >servicio</label>
            <mat-select  [(ngModel)]="precioVenta">
                <mat-option *ngFor="let s of servicio" [value]="s.precio">{{s.descripcion}}</mat-option>
            </mat-select>
        </mat-form-field>
    
        <mat-form-field appearance="outline" >
            <label >cantidad</label>
            <input matInput type="number" name="cantidad" [(ngModel)]="cantidad">
        </mat-form-field>
        <mat-form-field appearance="outline">
           <label >subtotal</label>
            <input matInput type="number" [(ngModel)]="subtotal" >
        </mat-form-field>
        <mat-form-field appearance="outline">
            <label >descuento/recargo</label>
             <input matInput type="number" [ngModel]="subtotal2" >
         </mat-form-field>
    
        
    
        <mat-form-field appearance="outline">
            <label >metodo de pago</label>
            <mat-select>
                <mat-option (click)="tarjeta()" value="tarjeta de credito">tarjeta de credito</mat-option>
                <mat-option (click)="efectivo()"value="efectivo">efectivo</mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field appearance="outline" >
            <label >total</label>
            <input matInput type="number" [(ngModel)]="total">
        </mat-form-field>    
    </div>
    

    <div  fxLayout="row" fxLayoutAlign="center center" >
        <button mat-button (click)="sumar()">calcular</button>
    </div>
    
</div>
