
button{
    background-color: cadetblue ;
}
.margin{
    margin-left: 50px;
    margin-right: 50px;
}
mat-form-field {
    margin-right: 12px;
    margin-top: 20px;
    margin-left: 20px;
  }
.color{
    background-color: aqua;
}
.color2{
    background-color: rgb(147, 165, 182);
}
h3{
    text-align: center;
}