<div class="margin">

    <div class="col-4" class="contenedor" >
        <div>
        <h1>IMPRESITO S.A.</h1>
        <h2>Presupuesto</h2>
        <br>
        
    </div>
    <div fxLayout="row" fxLayoutAlign="space-between none">
        <!-- <mat-form-field> 
             <button class="btn btn-primary" (click)="calculofinal()">CALCULO FINAL</button>
             <input matInput type="number" readonly="TRUE" [(ngModel)]="totalfinal"> 
        </mat-form-field> 
        <mat-form-field> 
            <button class="btn btn-primary" (click)="calculofinal()">CALCULO FINAL</button>
           <mat-select>
                <mat-option>1</mat-option>
                <mat-option>2</mat-option>
           </mat-select> 
       </mat-form-field>  -->
        <H2>VALIDEZ POR 24HS</H2>

        
        <mat-form-field >
            <label >fecha</label>
            <input matInput type="date" >
            
        </mat-form-field>
    </div>
    <div fxLayout="row">
         
        <div fxLayout="col-6" class="color">    
            <mat-form-field appearance="outline" >
                <label >servicio</label>
                <mat-select  [(ngModel)]="precioVenta">
                    <mat-option *ngFor="let s of servicio" [value]="s.precio">{{s.descripcion}}</mat-option>
                </mat-select>
            </mat-form-field>
        
            <mat-form-field appearance="outline" >
                <label >cantidad</label>
                <input matInput type="number" min="0" name="cantidad" [(ngModel)]="cantidad">
            </mat-form-field>
    
            <mat-form-field appearance="outline">
               <label >PRECIO LISTA</label>
                <input matInput type="number" [(ngModel)]="subtotal" readonly="TRUE" >
            </mat-form-field>
        </div>
        <div fxLayout="col-6" class="color2">
            <mat-form-field appearance="outline">
                <label >% desc. por efectivo</label>
                <mat-select [(ngModel)]="porcenDesc" >
                    <mat-option *ngFor="let des of descuento" [value]="des.desc">{{des.titulo}}</mat-option>
                 
                </mat-select>
            </mat-form-field>
            
            <!-- <mat-form-field appearance="outline">
                <label >personalizar descuento</label>
                <input matInput type="number" [(ngModel)]="descuentoEfectivo">
            </mat-form-field> -->
            <!-- <mat-form-field appearance="outline">
                <label  >% recargo por tarjeta</label>
                <mat-select [(ngModel)]="porcenDesc2" >
                    <mat-option value="0">ninguno</mat-option>
                    <mat-option  value="10">10</mat-option>
                    <mat-option  value="20">20</mat-option>
                </mat-select>
            </mat-form-field> -->
                
        </div>
    </div>
    <div fxLayout="row">
        <mat-form-field  >
                <label >total item 1</label>
                <input matInput type="number" [(ngModel)]="total">
        </mat-form-field>    

    </div>
    

    <div  fxLayout="row" fxLayoutAlign="center center" >
        <button class="btn btn-primary" (click)="sumar()">PRECIO LISTA</button>
        <button class="btn btn-primary" (click)="efectivo()">APLICAR DESCUENTO O RECARGO</button>
        <!-- <button class="btn btn-primary" (click)="tarjeta()">TARJETA</button> -->
    </div>
    <div>
        <p></p>
    </div>

    <div>
        <mat-form-field appearance="outline">
            <label >servicio</label>
            <mat-select  [(ngModel)]="precioVenta2">
                <mat-option *ngFor="let s2 of servicio" [value]="s2.precio">{{s2.descripcion}}</mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field appearance="outline" >
            <label >cantidad</label>
            <input matInput type="number" min="0" name="cantidad2" [(ngModel)]="cantidad2">
        </mat-form-field>

        <mat-form-field appearance="outline">
            <label >subtotal</label>
             <input matInput type="number" [(ngModel)]="subtotalb1" readonly="TRUE">
         </mat-form-field>

         <mat-form-field appearance="outline">
            <label >descuento/recargo</label>
             <input matInput type="number" [ngModel]="subtotalb2" readonly="TRUE">
         </mat-form-field>

         <mat-form-field appearance="outline">
            <label >metodo de pago</label>
            <mat-select>
                <mat-option (click)="tarjeta2()" value="tarjeta de credito">tarjeta de credito</mat-option>
                <mat-option (click)="efectivo2()"value="efectivo">efectivo</mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field appearance="outline" >
            <label >total</label>
            <input matInput type="number" [(ngModel)]="total2">
        </mat-form-field>    
    </div>
    <div  fxLayout="row" fxLayoutAlign="center center" >
        <button class="btn btn-primary" (click)="sumar2()">calcular</button>
    </div>
   
</div>


<!-- <div  fxLayout="row" fxLayoutAlign="center center" >
    <button class="btn btn-primary" (click)="calculofinal()">calcular</button>
</div> -->

